<table>
  <tr>
    <th>Nombre y Apellidos</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'supplier', :collection => @suppliers %>
</table>

<p><%= link_to 'Añadir nuevo proveedor', :action => 'new' %></p>
