<table>
  <tr>
    <th>Nombre</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'manufacturer', :collection => @manufacturers %>
</table>

<p><%= link_to 'Añadir nuevo fabricante', :action => 'new' %></p>
